html {
  background-color: cadetblue;
}

td {
  width: 145px;
  height: 50px;
  text-align: center;
}

thead {
  background-color:burlywood;
  
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  background-color:cornflowerblue;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content > p {
    padding: 5px;
  }

.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}